html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 400px;
    width: 550px;
    background-color: #9dd2ea;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px #009de4;
/*  syntax:  
    box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
    position: relative;
}

#score{
    background-color: #f1ff92;
    color: #888e5f;
    padding: 11px;
    position: absolute;
    left: 500px;
    box-shadow: 0px 4px #9da853;
}

#correct{
    position: absolute;
    left: 255px;
    background-color: #75cb4d;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 255px;
    background-color: #de481a;
    color: white;
    padding: 11px;
    display: none;

}